body {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  padding-inline: 1rem;
}

.pagination .active {
  background: linear-gradient(90deg, #ff00ff, #ff7300);
}

@media (max-width: 991px) {
  .pagination li {
    padding-inline: 0.5rem;
  }
}
